  #!/bin/bash
## make sure that you have access to the server and that you have uploaded keys and loged in as root 
## $1 is passed into this in the distro page It is the folder and or file that we are passing up
serverFQDN="mangoautomation.net"
serverPort=9122 
uploadPath="/var/www/MangoES/"

scpCMD="scp -rp -P $serverPort $1 root@$serverFQDN:$uploadPath"

## set this to 1 if it is your first run,
## 1= yes 0 = no
uploadBootstrap=0

## If you do not wish to upload the web stuff
## this is going to change soon
uploadStaticWeb=1